<h1>Мой профиль</h1>

<p><%= "Имя - #{current_user.name}" %></p>
<p><%= "Id - #{current_user.id}" %></p>
<p><%= link_to 'Редактировать', edit_user_path(current_user) %></p>
<p>_______________________________________________</p>
<p><%= link_to 'В каких эвентах принимаю участие',  "/users/#{current_user.id}/events" %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Создать новый евент', new_event_path  %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Присоедениться к евенту', new_relation_path %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Стартовая страница', root_path %></p>
<p>_______________________________________________</p>
<p><%= button_to 'Выйти', session_path, method: :delete %></p>
