<h1>Show User</h1>

<p><%= "Имя = #{@user.name}" %></p>
<p><%= "Id = #{@user.id}" %></p>
<p><%= link_to 'Редактировать', edit_user_path(@user) %></p>
<p>_______________________________________________</p>
<p>Список евентов, в которых вы состоите:</p>
<p>...</p>

<p>_______________________________________________</p>
<p><%= link_to 'Создать новый евент', user_path(@user) %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Присоедениться к евенту', user_path(@user) %></p>
