<h1>Show User</h1>

<p><%= "Имя = #{@user.name}" %></p>
<p><%= "Id = #{@user.id}" %></p>
<p><%= link_to 'Редактировать', edit_user_path(@user) %></p>
<p>_______________________________________________</p>
<p><%= link_to 'В каких эвентах принимаю участие',  "/users/#{@user.id}/events" %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Создать новый евент', new_event_path  %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Присоедениться к евенту', user_path(@user) %></p>
<p>_______________________________________________</p>
<p><%= link_to 'Стартовая страница', root_path %></p>
<p>_______________________________________________</p>
<p><%= button_to 'Выйти', session_path, method: :delete %></p>
