<h1>Моя страничка</h1>

<p><%= "#{current_user.name}" %></p>
<p><%= link_to 'Редактировать профиль', edit_user_path(current_user) %></p>
<p><%= link_to 'В каких эвентах принимаю участие',  "/users/#{current_user.id}/events" %></p>
<p><%= link_to 'Создать новое мероприятие', new_event_path  %></p>
<p><%= link_to 'Присоедениться к мероприятию', new_relation_path %></p>
<p><%= link_to 'Стартовая страница', root_path %></p>
<p><%= button_to 'Выйти', session_path, method: :delete %></p>
